@import "tailwindcss";

/* ----------------------------------------------------- */
.index_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    margin-top: 10px;
    background: linear-gradient(135deg, #fff 0%, #c3cfe2 100%);
    border-radius: 20px;
    padding: 30px;
    max-width: 600px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.modal_log h1 {
    color: green;
    font-size: 1.5rem;
    font-weight: 9000;
}

.modal_log img {
    width: 200px;
}

.modal_log {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.scroll-track {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
    gap: 10px;
}

.scroll-content {
    display: flex;
    gap: 10px;
}

.scroll-content img {
    width: 300px;
    flex-shrink: 0;
    border-radius: 10px;
}

.scroll-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* --------------------------------------------------------- */
.messag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messag div {
    z-index: 1200;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0 2px 10px rgba(123, 223, 242, 0.4);
    animation: errorMessag 0.5s ease;
    display: none;
    position: fixed;
    top: 10px;
}

.messag .good {
    color: rgb(0, 255, 0);
}

.messag .bad {
    color: red;
}

/* ------------------------------------------ */
.php_messag {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
}

.php_messag div {
    z-index: 1200;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0 2px 10px rgba(123, 223, 242, 0.4);
    animation: errorMessag 0.5s ease;
    margin-bottom: 10px;
}

.php_messag .php_bad {
    color: red;
}

/* --------------------------------- */









